.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}


p {
    color: black !important;
    ;
}

.custom-alert {
    position: fixed;
    top: 80px;
    right: 25px;

    z-index: 1111;
    /* Optional: Add shadow for better visibility */
}

.custombg {
    background-color: var(--primary) !important;
    transition: var(--transition-300);
}

.custombg:hover {
    border-bottom: var(--primary);
    box-shadow: var(--shadow-500);
    transform: translate(-3px);
    color: black !important;
}